<div class="checkout-container">
  <div class="row">
    <div class="col-md-4">
      <div class="selected-products">
        <h2>Shoppingbag</h2>
        <ul>
          <li *ngFor="let product of getCartItems()">
            <img src="{{ product.product }}" alt="" height="60px">
            <b>{{ product.name }}</b> {{ product.price }} SEK
          </li>
        </ul>
        Total: {{ getTotal() }} SEK
      </div>
    </div>

    <form class="row g-3">
      <!-- <div class="col-md-8"> -->
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">First name</label>
        <input [(ngModel)]="customerFirstName" type="text" class="form-control" id="validationCustom01" value="Mark"
          required name="first">
        <div class="valid-feedback">
          Looks good!
        </div>

      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input [(ngModel)]="customerLastName" type="text" class="form-control" id="validationCustom02" value="Otto"
          required name="last">
        <div class="valid-feedback">
          Looks good!
        </div>
        <!-- <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4"> -->
      </div>
      <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input [(ngModel)]="customerEmail" type="email" class="form-control" id="inputEmail4" name="email">
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input [(ngModel)]="customerAddress" type="text" class="form-control" id="inputAddress"
          placeholder="Apartment, studio, or floor" name="address">
      </div>
      <div class="col-md-6">
        <label for="inputZip" class="form-label">Postal code</label>
        <input [(ngModel)]="customerZip" type="text" class="form-control" id="inputZip" name="zip">
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input [(ngModel)]="customerCity" type="text" class="form-control" id="inputCity" name="city">
      </div>
      <div class="col-12">
        <button (click)="checkout()" type="submit" class="btn">Confirm</button>
      </div>
      <!-- </div> -->
    </form>
  </div>
</div>