.table-wrapper {
  overflow: scroll;
}

li{
  list-style: none;
}


.add-btn {
  border: 1px solid rgb(226, 226, 226);
  padding: 2px 6px 2px 6px;
  cursor: pointer;
}

.selected-products {
  margin-bottom: 20px;
}

table {
  // margin-bottom: 40px;
  padding: 5px;
}
