<div class="checkout-container">
  <div class="row">
    <div class="col-md-4">
      <div class="selected-products">
        <h2>Shoppingbag</h2>
        <ul>
          <li *ngFor="let product of getCartItems()">
            <img src="{{ product.product }}" alt="" height="60px">
            <b>{{ product.name }}</b> {{ product.price }} SEK
          </li>
        </ul>
        Total: {{ getTotal() }} SEK
      </div>
    </div>

    <form class="row g-3">
      <!-- <div class="col-md-8"> -->
      <div class="col-md-6">
        <label for="validationCustom01" class="form-label">First name</label>
        <input [(ngModel)]="customerFirstName" type="text" class="form-control" id="validationCustom01" value="Mark"
          required name="first">
        <div class="valid-feedback">
          Looks good!
        </div>

      </div>
      <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input [(ngModel)]="customerLastName" type="text" class="form-control" id="validationCustom02" value="Otto"
          required name="last">
        <div class="valid-feedback">
          Looks good!
        </div>
        <!-- <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword4"> -->
      </div>
      <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input [(ngModel)]="customerEmail" type="email" class="form-control" id="inputEmail4" name="email" required>
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input [(ngModel)]="customerAddress" type="text" class="form-control" id="inputAddress"
          placeholder="Apartment, studio, or floor" name="address" required>
      </div>
      <div class="col-md-6">
        <label for="inputZip" class="form-label">Postal code</label>
        <input [(ngModel)]="customerZip" type="text" class="form-control" id="inputZip" name="zip" required>
      </div>

      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input [(ngModel)]="customerCity" type="text" class="form-control" id="inputCity" name="city" required>
      </div>
      <div class="col-12">
        <button (click)="checkout()" type="submit" class="btn" data-bs-toggle="modal"
          data-bs-target="#exampleModal">Confirm</button>
      </div>
      <!-- </div> -->
    </form>


    <!-- Modal -->
    <div *ngIf="orderSuccess" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      id="confirmationModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Thank you for your order!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="orderError" class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorModalLabel">Order Error</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>There was an error processing your order. Please try again later.</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>