.table-wrapper {
  overflow: scroll;
}

li{
  list-style: none;
}


.add-btn {
  border: 1px solid rgb(226, 226, 226);
  padding: 2px 6px 2px 6px;
  cursor: pointer;
}

.selected-products {
  margin-bottom: 20px;
}

table {
  padding: 5px;
}

.review-order-container {
  margin-top: 20px;
}

.go-back {
  margin-right: 10px;
}

.form-label {
  margin-bottom: -12px;
}

.form-select {
  margin-left: 10px;
}

.btn {
  min-width: 130px;
}
