<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">CART</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
  <div class="offcanvas-body">
    <img src="assets/placeholder-img.png" alt="" height="60px">
    <h6>Product name</h6>
    <p>Price SEK</p>
  </div>
  <button type="button" class="btn cart-btn">Check out</button>
</div>