.cart-btn {
  margin: 20px;
}

.item-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.total-sum {
  margin: 20px;
}

.add-btn {
  border: 1px solid rgb(226, 226, 226);
  padding: 2px 6px 2px 6px;
  cursor: pointer;
}

.quantity-buttons {
  margin-left: 12px;
}

.product {
  margin-top: 10px;
}

.h6 {
  margin-top: 5px;
}
