<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">CART</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <!-- <span class="mr-16">{{ cart.items.length }} items</span> -->
  <!-- <hr> -->
  <div *ngIf="cart.items?.length">
    <div class="offcanvas-body">
      <div *ngFor="let item of cart?.items">
        <img src="{{ item.product }}" alt="" height="60px">
        {{item.id}}
        <h6>{{item.name}} x {{item.quantity}} </h6>
        <p>{{item.price}} SEK</p>
        <hr>
      </div>
      <div>
        Total:
        <span>{{getTotal(cart.items)}} </span>
      </div>
    </div>
  </div>
  <button [routerLink]="['/checkout']" type="button" class="btn cart-btn" data-bs-dismiss="offcanvas">Check out</button>
</div>


<!-- <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">CART</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div *ngIf="cart.items?.length">
      <span class="mr-16">{{ cart.items.length }} items</span>
      <div *ngFor="let item of cart?.items">
        <p>{{ item | json }}</p>
        <h6>{{item.name}} x {{item.quantity}} </h6>
        <p>{{item.price}} SEK</p>
        <hr>
        <div>
          Total:
          <span>{{getTotal(cart.items)}} </span>
        </div>
      </div>
    </div>
  </div>
</div> -->