<div class="order-container">
  <h2>Orders</h2>

  <!-- New orders -->
  <div *ngIf="newOrders.length > 0">
    <table mat-table [dataSource]="newOrders" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <!-- Products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products </th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let product of element.products">{{ product.name }}</li>
          </ul>
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <!-- Check Column -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Check </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="handleOrder(element)">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete order -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteOrder(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="newOrders.length === 0">
    <p>No new orders.</p>
  </div>
</div>

<!-- Handled orders -->
<div class="order-container">
  <h2>Handled Orders</h2>
  <div *ngIf="handledOrders.length > 0">
    <table mat-table [dataSource]="handledOrders" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let i = index"> {{i + 1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}} </td>
      </ng-container>

      <!-- Products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products </th>
        <td mat-cell *matCellDef="let element">
          <ul>
            <li *ngFor="let product of element.products">{{ product.name }}</li>
          </ul>
        </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <!-- Check Column -->
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> Check </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="cancelOrder(element)">
            <mat-icon>check</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Delete order -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="deleteOrder(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <div *ngIf="handledOrders.length === 0">
    <p>No handled orders.</p>
  </div>
</div>