<div class="login-container">

  <form action="">
    <div class="card">

      <div class="mb-3 row">
        <label for="staticEmail" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input [(ngModel)]="email" name="email" type="text" class="form-control" id="inputEmail"
            value="helgaborjesson@gmail.com">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
          <input [(ngModel)]="password" name="password" type="password" class="form-control" id="inputPassword">
        </div>
      </div>
      <div class="col-auto d-md-flex justify-content-md-center">
        <button (click)="login()" type="submit" class="btn btn-primary mb-3">Log in</button>
      </div>
    </div>
  </form>
</div>