<div class="content-container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6">
      <div class="about-img ">
        <img src="../../assets/Sibel Ta-da.png" alt="about-img" style="width: 300px;">
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <!-- <div class="col-6"> -->
      <div class="about-text">
        <h1>OH HEY!</h1>
        <p>
          Awesome, you found me! As you've probably figured out by now - I'm Sibel, a freelance Motion Designer &
          Illustrator
          from Sweden.
        </p>
        <p>
          I began my journey as a Graphic Designer back in 2012 at one of the oldest flag production companies in
          Sweden.
          Apart
          from bagging a super niche skill set in the textile print industry I got the opportunity to work for every
          type of
          client, from the Ministry of Foreign Affairs to the cozy sushi place around the corner.
        </p>
      </div>
    </div>
  </div>
</div>