.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  display: flex;
  justify-content: center;
  object-fit: contain;
}

img {
  width: 100%;
}

.about-text {
  margin: 20px;
  min-width: 320px;
  max-width: 480px;
}

p {
  font-size: 14px;
}
