.nav-h2 {
color: #FAFAFA;
font-size: 16px;
font-family: 'Anton', sans-serif;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.container-fluid {
  margin-left:  20px !important;
  margin-right: 60px;
}

// .nav-headers {
//   padding-left: 40px;
// }

// .about {
//   margin-right: 20px;
// }
// .shop {
//   margin-right: 20px;
// }

.navbar-nav {
  align-items: center;
}

.navbar {
  padding-right: 30px;
}

.navbar-brand {
  margin-left: 40px;
}

.icon-burger {
  filter: invert(1);
  margin-bottom: -5px;
}

.badge {
  border-radius: 5rem;
}

.icons {
  display: flex;
  gap: 20px;
}

.navbar-toggler {
padding: 0;
}

.icon-cart {
  filter: invert(1);
  // margin-left: 20px;
}

.cart-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 30px;
  margin-top: 20px;

}

img {
  vertical-align: text-bottom;
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}

.offcanvas {
  z-index: 1050;
}


.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border: 1px solid #84bbf3;
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
}
