.nav-h2 {
color: white;
font-size: 16px;
font-family: 'Anton', sans-serif;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.icon-burger {
  filter: invert(1);
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}

.offcanvas {
  z-index: 1050;
}

.cart-icon {
  margin-left: 20px;
  color: white;
font-size: 16px;
font-family: 'Anton', sans-serif;
}
