.nav-h2 {
color: white;
font-size: 16px;
font-family: 'Anton', sans-serif;
}

.nav-items {
  display: flex;
  gap: 20px;
}

.icon-burger {
  filter: invert(1);
}

.container-fluid {
  margin-left: 60px;
  margin-right: 60px;
}

.offcanvas {
  z-index: 1050;
}

.cart-icon {
  margin-left: 20px;
  color: white;
font-size: 16px;
font-family: 'Anton', sans-serif;
}

.activebutton {
  box-shadow: inset 0 1px 0 0 #dcecfb;
  background: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  border: 1px solid #84bbf3;
  color: #ffffff;
  text-shadow: 0 1px 0 #528ecc;
}
