<div class="modal-header">
  <h4 class="modal-title">Order Confirmation</h4>
  <span type="button" class="" aria-label="Close" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">
      <img src="../../assets/Icon_Exit.svg" alt="close" width="22px">
    </span>
  </span>
</div>
<div class="modal-body">
  <p>Thank you for your order!</p>
  <p>Your order confirmation number is <strong>{{ orderId }}</strong></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" (click)="modal.close('Close click')" [routerLink]="['/']">Close</button>
</div>