.btn {
  margin: 10px;
  width: 180px;
}

.save-btn {
  margin-right: 10px;
}

.upload-btn {
  margin-top: 5px;
}


.upload-btn:hover, .save-btn:hover, .cancel-btn:hover {
  background-color: #9F62D1;
  color: white;

}

.edit-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mdc-data-table__cell {
  padding: 10px;
}
