.btn {
  margin: 10px;
  width: 180px;
}

.save-btn {
  margin-right: 10px;
}

.upload-btn {
  margin-top: 5px;
}


.upload-btn:hover, .save-btn:hover, .cancel-btn:hover {
  background-color: #9F62D1;
  color: white;

}
