footer {
  background-color: #9F62D1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  color: #FAFAFA;
  z-index: 20;
  justify-content: end;
  display: flex;
  position: fixed;
}

.admin-icon {
  margin: 20px;
  filter: invert(1);
  height: 30px;
}
