
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Comfortaa:wght@500&display=swap');

body {
  background-image: url('../src/assets/Pattern_for_web_Left.svg');
  background-repeat: no-repeat;
  font-family: 'Comfortaa', sans-serif;
  min-height: 100vh;
      display: flex;
      flex-direction: column;
}

h1, h2, h3, h3, h4, h5, h6 {
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Comfortaa', sans-serif;
}

a {
text-decoration: none;
}

.btn {
  color: white;
  background-color: black;
  border-color: black;
  // background-color: #9F62D1;
  // border-color: #9F62D1;
  border-radius: 0 18px 18px 18px;
  font-family: 'Anton', sans-serif;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
}

.btn:hover{
  color: #9F62D1;
}

.delete-btn, .check-btn, .edit-btn, .admin-icon {
  cursor: pointer;
}

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.content-container {
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  flex: 1;
}

.row {
  margin: 0;
}
